In [27]:
import pandas as pd

In [28]:
df_lego = pd.read_csv('../00_CSV_Descargado/df_lego_work.csv')

df_lego.head()

,SetID,Number,YearFrom,Category,Theme,Subtheme,SetName,ImageFilename,USRetailPrice,Pieces,...,AgeMin,AgeMax,OwnCount,WantCount,Released,Rating,BrickLinkSoldPriceNew,BrickLinkSoldPriceUsed,LaunchDate,ExitDate
0,7530,10,1973,Normal,Duplo,NaN,Pre-School Set,NaN,NaN,17.0,...,NaN,NaN,16,22,X,0,NaN,NaN,NaN,NaN
1,7531,20,1973,Normal,Duplo,NaN,Building Set,NaN,NaN,25.0,...,NaN,NaN,17,24,X,0,NaN,NaN,NaN,NaN
2,1119,28,1979,Normal,Duplo,NaN,Nursery Furniture,028-1,NaN,7.0,...,NaN,NaN,50,31,X,0,NaN,11.72,NaN,NaN
3,7532,30,1973,Normal,Duplo,NaN,Building Set,NaN,NaN,29.0,...,NaN,NaN,17,23,X,0,NaN,NaN,NaN,NaN
4,1382,32,1979,Normal,Duplo,NaN,Living Room Furniture,032-1,NaN,14.0,...,NaN,NaN,69,27,X,0,NaN,10.52,NaN,NaN

***Antes de crear columnas voy a limpiar los nulos y las columnas***

In [29]:
null_counts = df_lego.isnull().sum()

In [30]:
# Veo solo las columnas que tienen valores nulos
null_counts = null_counts[null_counts > 0]

In [31]:
null_counts

Subtheme                  1448
ImageFilename              486
USRetailPrice             2741
Pieces                     301
Minifigs                  3322
Width                     3049
Height                    3050
Depth                     3053
Weight                    6334
AgeMin                    3587
AgeMax                    7160
BrickLinkSoldPriceNew     1357
BrickLinkSoldPriceUsed    2464
LaunchDate                3380
ExitDate                  3410
dtype: int64

In [32]:
# Reemplazo los valores nulos en 'Subtheme' por 'Unknown'
df_lego['Subtheme'] = df_lego['Subtheme'].fillna('Unknown')

In [33]:
# Reemplazo nulos por 0 en las columnas numéricas seleccionadas
columns_zero = [
    'Pieces', 'BrickLinkSoldPriceNew', 'BrickLinkSoldPriceNewUS','USRetailPrice', 
    'BrickLinkSoldPriceUsed', 'Depth', 'Height', 'Width', 'Weight', 'Minifigs', 'AgeMin', 'AgeMax'
]

for col in columns_zero:
    if col in df_lego.columns:
        df_lego[col] = df_lego[col].fillna(0)

In [34]:
# Reemplazo los valores nulos en 'ImageFilename' por 'Unknown'
df_lego['ImageFilename'] = df_lego['ImageFilename'].fillna('Unknown')

In [36]:
# Convierto LaunchDate y ExitDate a datetime y para extraer solo el año
df_lego['LaunchDate'] = pd.to_datetime(df_lego['LaunchDate'], errors='coerce').dt.year
df_lego['ExitDate'] = pd.to_datetime(df_lego['ExitDate'], errors='coerce').dt.year

# Los convierto a enteros manteniendo los valores nulos
df_lego['LaunchDate'] = df_lego['LaunchDate'].fillna(0).astype(int).replace(0, None)
df_lego['ExitDate'] = df_lego['ExitDate'].fillna(0).astype(int).replace(0, None)

/var/folders/41/9xs275yn7jxbs_h59j3pq3sw0000gn/T/ipykernel_2720/2994759852.py:3: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_lego['ExitDate'] = pd.to_datetime(df_lego['ExitDate'], errors='coerce').dt.year

In [37]:
df_lego.head()

,SetID,Number,YearFrom,Category,Theme,Subtheme,SetName,ImageFilename,USRetailPrice,Pieces,...,AgeMin,AgeMax,OwnCount,WantCount,Released,Rating,BrickLinkSoldPriceNew,BrickLinkSoldPriceUsed,LaunchDate,ExitDate
0,7530,10,1973,Normal,Duplo,Unknown,Pre-School Set,Unknown,0.0,17.0,...,0.0,0.0,16,22,X,0,0.0,0.00,None,None
1,7531,20,1973,Normal,Duplo,Unknown,Building Set,Unknown,0.0,25.0,...,0.0,0.0,17,24,X,0,0.0,0.00,None,None
2,1119,28,1979,Normal,Duplo,Unknown,Nursery Furniture,028-1,0.0,7.0,...,0.0,0.0,50,31,X,0,0.0,11.72,None,None
3,7532,30,1973,Normal,Duplo,Unknown,Building Set,Unknown,0.0,29.0,...,0.0,0.0,17,23,X,0,0.0,0.00,None,None
4,1382,32,1979,Normal,Duplo,Unknown,Living Room Furniture,032-1,0.0,14.0,...,0.0,0.0,69,27,X,0,0.0,10.52,None,None

**Reviso los tipos de datos**

In [39]:
df_lego.dtypes

SetID                       int64
Number                     object
YearFrom                    int64
Category                   object
Theme                      object
Subtheme                   object
SetName                    object
ImageFilename              object
USRetailPrice             float64
Pieces                    float64
Minifigs                  float64
PackagingType              object
Availability               object
Width                     float64
Height                    float64
Depth                     float64
Weight                    float64
AgeMin                    float64
AgeMax                    float64
OwnCount                    int64
WantCount                   int64
Released                   object
Rating                      int64
BrickLinkSoldPriceNew     float64
BrickLinkSoldPriceUsed    float64
LaunchDate                  Int64
ExitDate                    Int64
dtype: object

In [ ]:
# Convierto LaunchDate y ExitDate a enteros manteniendo los valores nulos
df_lego['LaunchDate'] = pd.to_numeric(df_lego['LaunchDate'], errors='coerce').astype('Int64')
df_lego['ExitDate'] = pd.to_numeric(df_lego['ExitDate'], errors='coerce').astype('Int64')

In [40]:
# Elimino la columna 'Released' porque no aporta información útil
df_lego.drop(columns=['Released'], inplace=True)

In [41]:
df_lego['PackagingType'].value_counts()

PackagingType
Box                      5260
Foil pack                1232
{Not specified}          1169
Polybag                   769
Paper bag                 201
Blister pack              115
Bucket                     86
None (loose parts)         79
Tub                        64
Plastic box                63
Box with handle            33
Other                      32
Plastic canister           31
Zip-lock bag               17
Shrink-wrapped             15
Canister                   14
Metal canister             14
Box with backing card      11
Name: count, dtype: int64

In [ ]:
# Normalizo 'PackagingType'
df_lego['PackagingType'] = df_lego['PackagingType'].replace({
    '{Not specified}': 'Unknown',
    'Plastic canister': 'Canister',
    'Plastic box': 'Box',
    'Metal canister': 'Canister',
    'Box with handle': 'Box',
    'Box with backing card': 'Box',
    'None (loose parts)': 'None'
})

In [43]:
df_lego['Availability'].value_counts()

Availability
Retail                   5182
{Not specified}          1507
Retail - limited         1349
LEGO exclusive            580
Promotional               418
Educational                93
Promotional (Airline)      27
Unknown                    21
Not sold                   21
LEGOLAND exclusive          7
Name: count, dtype: int64

In [44]:
# Normalizo 'Availability'
df_lego['Availability'] = df_lego['Availability'].replace({
    '{Not specified}': 'Unknown',
    'Promotional (Airline)': 'Promotional'
})

***FUNCION LIMPIEZA***

In [ ]:
def limpiar_df_lego(df):
    """
    Realiza la limpieza del dataset de sets de LEGO:
    - Rellena valores nulos en columnas categóricas.
    - Sustituye valores nulos por 0 en columnas numéricas clave.
    - Convierte las fechas de lanzamiento y retiro a solo el año.
    - Asegura la consistencia de los tipos de datos.
    
    Parámetros:
        df (pd.DataFrame): DataFrame de LEGO sin limpiar.
        
    Retorna:
        pd.DataFrame: DataFrame limpio.
    """
    # Rellenamos valores nulos en columnas categóricas
    df['Subtheme'] = df['Subtheme'].fillna('Unknown')
    df['ImageFilename'] = df['ImageFilename'].fillna('Unknown')

    # En las columnas numéricas a reemplazamos valores nulos por 0
    columnas_a_cero = [
        'Pieces', 'BrickLinkSoldPriceNew', 'USRetailPrice', 
        'BrickLinkSoldPriceUsed', 'Depth', 'Height', 'Width', 'Weight', 
        'Minifigs', 'AgeMin', 'AgeMax'
    ]

    for col in columnas_a_cero:
        if col in df.columns:
            df[col] = df[col].fillna(0)

    # Convertimos LaunchDate y ExitDate a solo el año en formato numérico
    if 'LaunchDate' in df.columns:
        df['LaunchDate'] = pd.to_datetime(df['LaunchDate'], errors='coerce').dt.year
        df['LaunchDate'] = df['LaunchDate'].fillna(0).astype(int).replace(0, None)
    
    if 'ExitDate' in df.columns:
        df['ExitDate'] = pd.to_datetime(df['ExitDate'], errors='coerce').dt.year
        df['ExitDate'] = df['ExitDate'].fillna(0).astype(int).replace(0, None)

    return df

***FUNCION NORMALIZACIÓN***

In [ ]:
def normalizar_df_lego(df):
    """
    Normaliza el dataset de sets de LEGO:
    - Convierte 'LaunchDate' y 'ExitDate' a enteros manteniendo valores nulos.
    - Elimina la columna 'Released' por no aportar información útil.
    - Normaliza 'PackagingType' agrupando valores similares.
    - Normaliza 'Availability' simplificando categorías.
    
    Parámetros:
        df (pd.DataFrame): DataFrame de LEGO sin normalizar.
        
    Retorna:
        pd.DataFrame: DataFrame normalizado.
    """
    # Convertir LaunchDate y ExitDate a enteros manteniendo los valores nulos
    df['LaunchDate'] = pd.to_numeric(df['LaunchDate'], errors='coerce').astype('Int64')
    df['ExitDate'] = pd.to_numeric(df['ExitDate'], errors='coerce').astype('Int64')
    
    # Eliminar la columna 'Released' si existe
    if 'Released' in df.columns:
        df.drop(columns=['Released'], inplace=True)
    
    # Normalizar 'PackagingType'
    df['PackagingType'] = df['PackagingType'].replace({
        '{Not specified}': 'Unknown',
        'Plastic canister': 'Canister',
        'Plastic box': 'Box',
        'Metal canister': 'Canister',
        'Box with handle': 'Box',
        'Box with backing card': 'Box',
        'None (loose parts)': 'None'
    })
    
    # Normalizar 'Availability'
    df['Availability'] = df['Availability'].replace({
        '{Not specified}': 'Unknown',
        'Promotional (Airline)': 'Promotional'
    })
    
    return df